@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#header-section {
    background-color: black;
}

#logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px;
}

#menu a {
    text-decoration: none;
    font-family: Montserrat;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
}

a {
 color: white;
}

a:hover {
    color: white;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    color: white;
}

#menu li {
    float: right;
    margin: 30px;
}

#header-section {
    height: 30%;
    position: relative;
    overflow-y: hidden;
}

#hero-image {
    width: 100%;
    height: 600px;
}

h1 {
    font-size: 4vw;
}

#header-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px black;
}

#subheading-text {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
}

#intro-text {
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    margin: 60px;
    line-height: 30px;
}

#footer {
    background: black !important;
    height: 300px;
    width: 100%;
}

footer h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#submit {
    color: black;
    font-family: Montserrat;
    background-color: white;
}

.social-icons {
    flex-wrap: wrap;
}

#facebook:hover {
    color: blue;
}

#instagram:hover {
    color: purple;
}

@media screen and (max-width: 943px) {
    #header-text {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 4px 4px black;
    }

    #subheading-text {
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2vw;
        position: absolute;
        text-align: center;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px black;
    }
}

@media screen and (max-width: 700px) {
    #header-text {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 4px 4px black;
    }

        #subheading-text {
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2vw;
            position: absolute;
            text-align: center;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px black;
        }

        #menu li {
            text-align: center;
        }
}
